[submodule "thirdparty/blend2d"]
	path = thirdparty/blend2d
	url = https://github.com/blend2d/blend2d.git
[submodule "thirdparty/SDL"]
	path = thirdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "thirdparty/asmjit"]
	path = thirdparty/asmjit
	url = https://github.com/asmjit/asmjit
